Repository roxannecvl/whokipedia, pull requests merged in 2024-04, with the labels that each got.

#52 Refactor `Utils` and `Hint` classes
  README.md
  api/WikipediaSource.ts
  model/FirebaseModel.ts
  model/GameModel.ts
  model/Hint.ts
  model/HintList.ts
  model/UserModel.ts
  pages/daily-challenge.vue
  pages/statistics.vue
  utilities/Utils.ts
  views/InfoboxView.vue
Labels: refactor

#62 Remove "Status" from hints
  api/WikipediaSource.ts
  model/Hint.ts
Labels: model

#60 Add paragraphs to hints / refactor method to get new hints
  api/WikipediaSource.ts
  model/GameModel.ts
  model/Hint.ts
  pages/test.vue
  presenters/GamePresenter.vue
  utilities/Utils.ts
  views/GameCenterView.vue
  views/InfoboxView.vue
Labels: enhancement, model, refactor

#67 Created the welcome page (based on Figma)
  app.vue
  pages/index.vue
  presenters/WelcomePagePresenter.vue
  views/SidebarView.vue
  views/WelcomePageView.vue
Labels: presenter, view, ready-for-review

#68 Switch to pinia for application state
  model/GameModel.ts
  model/ResolvePromise.ts
  nuxt.config.ts
  package.json
  pages/daily-challenge.vue
  presenters/GamePresenter.vue
  presenters/SidebarPresenter.vue
Labels: model, refactor

#72 Adapt user model to use pinia
  app.vue
  model/CelebrityList.ts
  model/FirebaseModel.ts
  model/GameModel.ts
  model/Hint.ts
  model/UserModel.ts
  pages/daily-challenge.vue
  pages/index.vue
  pages/statistics.vue
  pages/test.vue
  presenters/GamePresenter.vue
  presenters/StatisticsPresenter.vue
  presenters/WelcomePagePresenter.vue
  utilities/Utils.ts
  views/GameCenterView.vue
  views/StatisticsView.vue
  views/WelcomePageView.vue
Labels: model, refactor

#73 Hydration style mismatch error fixed (#71)
  views/WelcomePageView.vue
Labels: bug, ready-for-review, refactor

#77 Add first sentence and name occurrences at paragraphs reveal
  api/WikipediaSource.ts
  model/GameModel.ts
  presenters/GamePresenter.vue
  views/GameCenterView.vue
Labels: model, view

#86 Improve paragraphs display
  model/GameModel.ts
  presenters/GamePresenter.vue
  presenters/LoginSignupPresenter.vue
  presenters/SidebarPresenter.vue
  presenters/StatisticsPresenter.vue
  utilities/Utils.ts
  views/GameCenterView.vue
  views/InfoboxView.vue
  views/LoginView.vue
  views/SidebarView.vue
  views/SignupView.vue
  views/StatisticsView.vue
  views/WelcomePageView.vue
Labels: enhancement, view

#99 Made main panel unscrollable
  app.vue
  model/GameModel.ts
  model/Hint.ts
  pages/daily-challenge.vue
  presenters/GamePresenter.vue
  presenters/SidebarPresenter.vue
  public/img/logo-primary-filled.svg
  public/img/logo-primary.svg
  views/GameCenterView.vue
  views/InfoboxView.vue
  views/SearchFieldView.vue
  views/SidebarView.vue
Labels: view, ready-for-review, ui

#100 Working Statistics Page
  app.vue
  model/FirebaseModel.ts
  model/GameModel.ts
  model/UserModel.ts
  nuxt.config.ts
  presenters/LoginSignupPresenter.vue
  presenters/StatisticsPresenter.vue
  utilities/Utils.ts
  views/StatisticsView.vue
Labels: model, view, ready-for-review, ui

#107 Pass leaderboard and statistics as modals
  app.vue
  model/FirebaseModel.ts
  model/UserModel.ts
  pages/leaderboard.vue
  pages/statistics.vue
  presenters/GamePresenter.vue
  presenters/HeaderPresenter.vue
  presenters/LeaderboardPresenter.vue
  presenters/StatisticsPresenter.vue
  utilities/Utils.ts
  views/HeaderView.vue
  views/InfoboxView.vue
  views/LeaderboardView.vue
  views/LoginSignupView.vue
  views/StatisticsView.vue
Labels: presenter, view, refactor, ui

#119 Remove all non needed semicolons
  api/Parsing.ts
  api/WikipediaSource.ts
  model/CelebrityList.ts
  model/FirebaseModel.ts
  model/GameModel.ts
  model/Hint.ts
  model/UserModel.ts
  pages/daily-challenge.vue
  pages/index.vue
  pages/test.vue
  presenters/GamePresenter.vue
  presenters/HeaderPresenter.vue
  presenters/SidebarPresenter.vue
  presenters/WelcomePagePresenter.vue
  utilities/Utils.ts
  views/GameCenterView.vue
  views/HeaderView.vue
  views/InfoboxView.vue
  views/LeaderboardView.vue
  views/LoginSignupView.vue
  views/SearchFieldView.vue
  views/ShouldLoginView.vue
  views/SidebarView.vue
  views/StatisticsView.vue
  views/WelcomePageView.vue
Labels: refactor

#123 Fix double scroll on small screens
  pages/daily-challenge.vue
  pages/solo-mode.vue
Labels: bug, ui

#133 fix : no more freeze on lose
  model/GameModel.ts
  views/HeaderView.vue
  views/StatisticsView.vue
Labels: bug, model, ready-for-review

#142 Fix date issues, improve error messages, fix reloading mess and add documentation
  app.vue
  model/FirebaseModel.ts
  model/UserModel.ts
  pages/daily-challenge.vue
  pages/solo-mode.vue
  pages/test.vue
  presenters/GamePresenter.vue
  presenters/HeaderPresenter.vue
  presenters/PlayAgainPresenter.vue
  utilities/Utils.ts
  views/LeaderboardView.vue
  views/LoginSignupView.vue
  views/SearchFieldView.vue
  views/StatisticsView.vue
Labels: bug, ready-for-review, refactor

#148 Small refactor adding comments
  model/Hint.ts
  pages/daily-challenge.vue
  presenters/HeaderPresenter.vue
  server/api/blur-image.ts
  views/GameCenterView.vue
  views/HeaderView.vue
  views/InfoboxView.vue
  views/LeaderboardView.vue
Labels: documentation, refactor

#158 Add username to statistics modal
  presenters/HeaderPresenter.vue
  views/HeaderView.vue
  views/StatisticsView.vue
Labels: enhancement, ui

#161 Change landing page (fix background)
  app.vue
  public/img/dark-community-logo.svg
  public/img/light-community-logo.svg
  public/img/logo-filled.png
  tailwind.config.ts
  views/WelcomePageView.vue
Labels: enhancement, view, ui

#162 Reduce blur of the landing page
  views/WelcomePageView.vue
Labels: ui

#157 Small comments about last PR
  app.vue
  model/FirebaseModel.ts
  pages/daily-challenge.vue
  pages/index.vue
  pages/solo-mode.vue
  presenters/GamePresenter.vue
  presenters/HeaderPresenter.vue
  presenters/PlayAgainPresenter.vue
  presenters/SidebarPresenter.vue
  presenters/WelcomePagePresenter.vue
  utilities/Auth.ts
Labels: refactor
