Repository roxannecvl/whokipedia, pull requests merged in 2024-03, with the labels that each got.

#2 Setup the project structure
  .gitignore
  app.config.ts
  app.vue
  model/GameModel.ts
  model/UserModel.ts
  nuxt.config.ts
  package.json
  pages/example.vue
  pages/index.vue
  tailwind.config.js
  tsconfig.json
  utilities/Utils.ts
  views/MyComponent.vue
  views/infoboxView.vue
Labels: enhancement, model, presenter, view, ready-for-review

#14 Create a v1 version of GameModel
  model/GameModel.ts
  model/HintList.ts
  model/resolvePromise.ts
  pages/example.vue
  views/infoboxView.vue
Labels: enhancement, model

#13 Start a small module to talk with API
  api/wikipediaSource.ts
  model/GameModel.ts
  package.json
  pages/index.vue
Labels: enhancement, api, ready-for-review

#17 User authentication v1
  .gitignore
  nuxt.config.ts
  package.json
  pages/index.vue
  presenter/signupLoginPresenter.vue
  views/loginView.vue
  views/signupView.vue
Labels: enhancement, users

#20 Fix bad merge conflicts resolution
  package.json
  pages/index.vue
Labels: bug

#23 Add a celebrity list and a dropdown menu connected to it
  model/CelebrityList.ts
  model/GameModel.ts
  package.json
  pages/index.vue
  pages/test.vue
  utilities/Utils.ts
Labels: model, view

#32 Partial parsing and remodel of GameModel
  api/wikipediaSource.ts
  app.vue
  model/CelebrityList.ts
  model/GameModel.ts
  model/HintList.ts
  model/firebaseModel.ts
  model/resolvePromise.ts
  package.json
  pages/example.vue
  pages/test.vue
  utilities/Utils.ts
  views/infoboxView.vue
Labels: enhancement, api

#35 Refactor hints pathway
  api/wikipediaSource.ts
  model/GameModel.ts
  model/HintList.ts
  pages/test.vue
  utilities/Utils.ts
Labels: model, api, refactor

#36 Create first version of the game
  README.md
  api/WikipediaSource.ts
  app.vue
  assets/logo-filled.svg
  assets/logo-transparent.svg
  model/FirebaseModel.ts
  model/GameModel.ts
  model/HintList.ts
  model/ResolvePromise.ts
  nuxt.config.ts
  package.json
  pages/daily-challenge.vue
  pages/example.vue
  pages/index.vue
  pages/statistics.vue
  pages/test.vue
  presenters/GamePresenter.vue
  presenters/SidebarPresenter.vue
  utilities/Utils.ts
  views/GameCenterView.vue
  views/InfoboxView.vue
  views/LoginView.vue
  views/MyComponent.vue
  views/SidebarView.vue
  views/SignupView.vue
  views/StatisticsView.vue
  views/infoboxView.vue
Labels: bug, enhancement, model, view, ready-for-review, refactor

#38 Parsed wikipedia intro
  api/WikipediaSource.ts
  model/CelebrityList.ts
  model/GameModel.ts
  utilities/Utils.ts
Labels: api, ready-for-review

#54 Make the app responsive
  app.vue
  pages/daily-challenge.vue
Labels: presenter, ui
